body {
  font-family: Arial;
  padding: 20px;
  background: #6d6d6d;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cancel-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.new-post-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}